.fk-metabox {
  margin-bottom: 1rem;

  label {
    display: block
  }

  .fk-metabox-container-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .fk-metabox-image {
      margin-right: 1rem;
      margin-top: 1rem;
      position: relative;
    }

    .fk-metabox-image-remove {
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      height: 20px;
      background-color: red;
      text-align: center;
      color: #fff;
      transition: all .5s;
      cursor: pointer;
      text-decoration: none;
    }

    .fk-metabox-image img {
      /*max-width: 100%;*/
    }

    .fk-metabox-image-remove:after {
      content: "\2718";
    }

    .fk-metabox-image:hover .fk-metabox-image-remove {
      opacity: 1;
    }
  }
}




